<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RTJ About</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
  <div class="demo">
    <h1> About Run the Jewels </h1>

  <div class="top">
    <img src="/images/rtj2.gif" alt="about" title="about" />
    <p>Run the Jewels, also known by the initialism RTJ, is an American hip hop supergroup formed in 2013 by rapper/producer El-P and rapper Killer Mike.
      They released their acclaimed debut studio album, Run the Jewels, as a free digital download in 2013.
      The album was followed by Run the Jewels 2 in 2014, which was also praised by critics.
      Their third album, Run the Jewels 3, was released digitally on December 24, 2016, while a physical release appeared on January 13, 2017.</p>
  </div>

    <footer>
        <ul>
        <li><a href="/"> Homepage </a></li>
        <br>
        <li><a href="/about"> About Us </a></li>
        <br>
        <li><a href="/fun"> Fun Facts and Photos! </a></li>
        <ul>
    </footer>
  </div>  

    <script src="/js/front.js"></script>
  </body>
</html>
