<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RTJ Fun Photos</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="demo">
    <h1> Fun Photos and Randomness about RTJ </h1>


  <div class="top">
    <img src="/images/rtj3.gif" alt="fun" title="fun"/>
    <img src="/images/killer-mike.jpeg" alt="fun" title="fun"/>
    <img src="/images/rtj4.gif" alt="fun" title="fun"/>
    <br><br>
    <a href="https://www.buzzfeed.com/brianmcmanus/man-who-attacked-run-the-jewels-on-stage-still-walking-aroun?utm_term=.rjXo827J2#.ihAeqRaxR"> Man attacks RTJ</a>
    <br><br>
    <a href="https://www.buzzfeed.com/reggieugwu/premiere-run-the-jewels-zack-de-la-rocha?utm_term=.lxGbONrLN#.sj90OWedW">RTJ and Rage against the Machine</a>
  </div>

<footer>
    <ul>
    <li><a href="/"> Homepage </a></li>
    <br>
    <li><a href="/about"> About Us </a></li>
    <br>
    <li><a href="/fun"> Fun Facts and Photos! </a></li>
    <ul>
</footer>

</div>
    <script src="/js/front.js"></script>
  </body>
</html>
