<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RTJ Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="demo">
      <h1> Run the Jewels - Official ridiculous website!</h1>

      <div class="top">
        <img src="/images/rtj1.gif" alt="home" title="home" />
        <img src="/images/rtj1.gif" alt="home" title="home" />
        <img src="/images/rtj1.gif" alt="home" title="home" />
      </div>

          <footer>
              <ul>
              <li><a href="/"> Homepage </a></li>
              <br>
              <li><a href="/about"> About Us </a></li>
              <br>
              <li><a href="/fun"> Fun Facts and Photos! </a></li>
              <ul>
          </footer>
    </div>

  <script src="/js/front.js"></script>

  </body>
</html>
